<!DOCTYPE html>
<html>

<head>

<title>Visual Memory Test</title>

{% load static %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'teacher/style.css' %}" />
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

</head>

<body>

<div id="frame">

<div id="container">

<h1>End of Testing</h1>

<h2>Your score is: <b>{{ score }} / {{ num_testing_images }}</b></h2>

<h2>The average score is: <b>{{ ave_score|floatformat:2 }} / {{ num_testing_images }}</b></h2>

<h2>Your unique completion code is: {{ ucode }}</b></h2>

<img id="query_image" src="/static/teacher/graphics/robot2.png" alt="Teaching Image"/>


<br><br><br><br>

</div>

</div>

</body>

</html>
