<!DOCTYPE html>
<html>

<head>

<title>Visual Memory Test</title>

{% load static %}

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>
</head>

<body>

<div id="frame">


<div id="container">

<h1 style="font-weight:normal">
    {% if is_correct == True %}
        <font color="#ff8c00"><b>Well done!</b></font><br>
        <font color="black">Good pronunciation.</font>
    {% else %}
        <font color="black"><b>Not quite...</b></font><br>
        <font color="black">Play the correct pronunciation below!</font>
    {% endif %}
</h1>

    <img src={{image_path}} alt="word">
    <h2>Translation: "{{translation}}"</h2>

    <audio controls>
  <source src= {{audio_ref_link}} type="audio/mpeg">
Your browser does not support the audio element.
    </audio>


        <form id="input_form" method="post" action={% url 'index' %}>
            {% csrf_token %}
            <input type="hidden" name="mode" value="2" />
            <input id = "submit_button" type="submit" value="Next" />
        </form>

    </div>

</div>

</body>

</html>
