<!DOCTYPE html>
<html>

<head>

<title>Interactive Machine Teaching</title>

{% load static %}


<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

</head>

<body>

<div id="frame">

    <div id="container">

        <div style="text-align:justify;margin-left:50px;margin-right:50px;padding:0">

        <h2>Participant Information</h2>

        <h1>Project Title: Interactive Machine Teaching</h1>

        <p>We would like to invite you to participate in this research project directed by researchers at UCL.
        You should only participate if you want to; choosing not to take part will not disadvantage you in any way.
        Before you decide whether you want to take part, it is important for you to read the following information
        carefully and discuss it with others if you wish. Ask us if there is anything that is not clear or if you
        would like more information.</p>

        <h2>Study Details and Compensation</h2>
        <p>The purpose of this study is to investigate how machine teaching can facilitate the acquisition of a new language.
        The expected duration of the study is about 10 minutes. More detailed instructions will follow on the next pages.
        At the end of the experiment, you will be provided a unique completion code which can be submitted to Mechanical Turk.
        There are no particular risks associated with your participation other than those associated with the use of standard computer equipment.</p>

        <h2>Data and Information</h2>
        <p> All data will be handled according to the GDPR. Any information that is obtained in connection with this study and that
        can be identified with you will remain confidential and will be disclosed only with your permission or as required by law.
        Only UCL researchers working with Dr. Enrico Costanza will have access to data that can be identified with you.</p>

        <p>As part of the experiment, you will be asked to make and submit a series of one-word voice recordings. These recordings will be retained securely for 6 months and then deleted.
        No other personal information will be collected so each user's responses and recordings will be anonymous.</p>

        <p>Aggregated and anonymous performance data may be made publicly available through scientific publication, or otherwise shared with other researchers. The legal basis used to process
        your personal data will be the performance of a task in the public interest. The data controller for this project is University College London (UCL). The Data Protection Officer
        is X X, he can be contacted at X</p>

        <h2>Withdrawing from the study</h2>
        <p> If you decide you do not want the data to be recorded, or if you decide at a later date that you do not want these recordings to be
        kept in the form specified above, you may request that we delete the data from our dataset by contacting the principal investigator (e-mail X),
        within the next 6 months. After the next 6 months, all recordings will be destroyed and any other data will be aggregated and fully anonymised, and may be made
        available to other researchers – as this can be helpful for other researchers working on similar topics.</p>

        <p>You may withdraw at any time and for any reason during the study. You may access or withdraw your data at any time and for any reason
        within the next 6 months after the study ends when all the data is being anonymised or securely destroyed.</p>

        <h2>Concerns and Complaints</h2>
        <p>Should you have any concern or complaint, you can contact us at any point via email (Sam: X or E. Costanza: X).
        For ethics queries, you can use the following contact (X). If you are concerned about how your personal data is being processed, you can
        contact the UCL Data Protection Office at X. If you remain unsatisfied, you may wish to contact the Information Commissioner’s Office (ICO).
        Contact details, and details of data subject rights, are available on the ICO website at https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/individuals-rights/
        </p>

        <p>Thank you for reading this information sheet and for considering taking part in this research study. Please find the Informed Consent Form on the next page.</p>

        <!-- THE FORM -->
        <form id='Continue_to_consent' method="post">

            {% csrf_token %}

            <!-- The hidden variables -->
            <input type="hidden" name="mode" value="-3"/>

            <!-- The submit button -->
            <input id="next_button" type="submit" value="Continue"/>

        </form>

    </div>
    </div>

</div>

</body>

</html>